<!-- NOTE: Navbar -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LoginComponent</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas" (click)="onClickNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse offcanvas-collapse {{ toggleNavbar }}" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"
        [class.active]="selectedDemo === demo.SIMPLE_CONNECTION">
        <a class="nav-link" 
          (click)="onClickChangeDemo(demo.SIMPLE_CONNECTION)">
          Simple connection
        </a>
      </li>
      <li class="nav-item"
        [class.active]="selectedDemo === demo.MFA_CONNECTION">
        <a class="nav-link" 
          (click)="onClickChangeDemo(demo.MFA_CONNECTION)">
          MFA connection
        </a>
      </li>
      <li class="nav-item"
        [class.active]="selectedDemo === demo.PWD_SETUP">
        <a class="nav-link" 
          (click)="onClickChangeDemo(demo.PWD_SETUP)">
          Password setup
        </a>
      </li>
      <li class="nav-item"
        [class.active]="selectedDemo === demo.MFA_SETUP">
        <a class="nav-link" 
          (click)="onClickChangeDemo(demo.MFA_SETUP)">
          MFA setup
        </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 p-absolute" id="gui-container">
    </div>
  </div>
</nav>
<!-- NOTE: LoginComponent -->
<cal-login-form #loginForm *ngFor="let r of reset" 
  [container]="settings.container" 
  [customTheme]="settings.customTheme" 
  [loginBySteps]="settings.loginBySteps" 
  [customFormLayouts]="{ pwd : settings.pwd, mfaSetup : settings.mfaSetup, mfa : settings.mfa }" 
  [customUsrPolicy]="settings.usrPolicy" 
  [customPwdPolicies]="{ range: { min: settings.pwdRangeMin, max: settings.pwdRangeMax }, char: settings.pwdChar, number: settings.pwdNumber, lower: settings.pwdLower, upper: settings.pwdUpper }"
  [customSocialButtons]="{ google: settings.google, facebook: settings.facebook }" 
  [iconUsrOnLoginForm]="settings.iconUsrOnLoginForm" 
  [iconPwdOnLoginForm]="settings.iconPwdOnLoginForm" 
  [btnClearUsrOnLoginForm]="settings.btnClearUsrOnLoginForm" 
  [btnShowPwdOnLoginForm]="settings.btnShowPwdOnLoginForm" 
  [btnClearCodeOnPwdForm]="settings.btnClearCodeOnPwdForm" 
  [btnShowPwdOnPwdForm]="settings.btnShowPwdOnPwdForm" 
  [btnClearCodeOnMfaForm]="settings.btnClearCodeOnMfaForm" 
  [btnForgotPwdOnLoginForm]="settings.btnForgotPwdOnLoginForm" 
  [btnSignUpOnLoginForm]="settings.btnSignUpOnLoginForm" 
  [errOnLoginForm]="settings.errOnLoginForm" 
  [errOnMfaForm]="settings.errOnMfaForm" 
  [errOnPwdForm]="settings.errOnPwdForm" 
  (initialized)="initialized()" 
  (login)="login($event)" 
  (signUp)="signUp()" 
  (loginSocial)="loginSocial($event)" 
  (forgotPwd)="forgotPassword($event)" 
  (sendFirstPwd)="firstPassword($event)" 
  (sendResetPwd)="lostPassword($event)" 
  (saveMfaKey)="saveMfaKey($event)" 
  (sendMfaCode)="sendMfaCode($event)" 
  (stepUsr)="stepUsr($event)" 
  (stepPwd)="stepPwd($event)">
</cal-login-form>