<div class="container-fluid">
  <div class="row">
    <nav class="col-12 col-md-2 bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" (click)="onClickChangeDemo(demo.SIMPLE_CONNECTION)">
            <a class="nav-link" [class.active]="selectedDemo === demo.SIMPLE_CONNECTION">
              Simple connection
            </a>
          </li>
          <li class="nav-item" (click)="onClickChangeDemo(demo.MFA_CONNECTION)">
            <a class="nav-link" [class.active]="selectedDemo === demo.MFA_CONNECTION">
              MFA connection
            </a>
          </li>
          <li class="nav-item" (click)="onClickChangeDemo(demo.PWD_SETUP)">
            <a class="nav-link" [class.active]="selectedDemo === demo.PWD_SETUP">
              Password setup
            </a>
          </li>
          <li class="nav-item" (click)="onClickChangeDemo(demo.MFA_SETUP)">
            <a class="nav-link" [class.active]="selectedDemo === demo.MFA_SETUP">
              MFA setup
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-12 col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="container">
        <div class="row my-5">
          <div class="col">
            <cal-login-form #loginForm *ngFor="let r of reset" 
              [customFormLayouts]="{ pwd : 'tab', mfaSetup : 'modal', mfa : 'inline' }" 
              [customUsrPolicy]="'email'" 
              [errOnLoginForm]="false" 
              [errOnMfaForm]="false" 
              [errOnPwdForm]="false" 
              (initialized)="initialized()" 
              (login)="login($event)" 
              (signUp)="signUp()" 
              (loginSocial)="loginSocial($event)" 
              (forgotPwd)="forgotPassword($event)" 
              (sendFirstPwd)="firstPassword($event)" 
              (sendResetPwd)="lostPassword($event)" 
              (saveMfaKey)="saveMfaKey($event)" 
              (sendMfaCode)="sendMfaCode($event)">
            </cal-login-form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

